@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("../fonts/Poppins-Bold.ttf") format("truetype");
}

body,
html {
  height: 100%;
}

section {
  background-color: #fff;
  min-height: 90vh;
  width: 100%;
  padding-bottom: 50px;
}

/* Navbar background color and height */
/* .nav-bg {
  background-color: #bea96a;
  height: 100px;
  padding: 0;
} */

/* Text: "Search Students" style */
.search-text {
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  margin: 10px;
}

.search-inputBox {
  box-sizing: border-box;
  width: 300px;
  height: 40px;
  background: #ffffff;
  border: 5px solid #f2f0e5;
  border-radius: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}

input::placeholder {
  font-family: "Poppins";
}

/* For hide card in search */
.hide {
  display: none;
}

.admin-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.admin-name {
  width: auto;
  height: 20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  margin-top: 5px;
}

/* __________________________________________ */

/* Card Design  */

.card-list {
  display: flex;
  flex-wrap: wrap;
  min-width: 1320px;
  /* animation: fade-out 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both; */
}

.card {
  position: relative;
  align-items: center;
  box-sizing: border-box;
  width: auto;
  max-width: fit-content;
  min-width: 240px;
  height: auto;
  background: rgba(164, 164, 164, 0.2);
  border: 3px solid rgba(190, 169, 106, 0.6);
  border-radius: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
  -webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

.card:not(:nth-child(5n)) {
  margin-right: 30px;
}
.card-img-top {
  width: 130px;
  height: 130px;
  padding: 3px;
  object-fit: cover;
  border: 3px solid #bfa353;
  border-radius: 50%;
  overflow: hidden;
  transform: scaleX(-1);
}

.circle-image {
  margin-top: 55px !important;
  width: 130px;
  height: 130px;
  margin: 10px;
  transform: scaleX(-1);
}

.card-title {
  width: 150px;
  height: auto;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #070707;
  white-space: nowrap; /* Запрещаем перенос строк */
  overflow: hidden; /* Скрываем все, что не помещается в области видимости */
  text-overflow: ellipsis;
}

.list-group-item {
  width: 200px;
  height: 40px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  padding: auto;
  background: rgba(0, 0, 0, 0);
  border: 3px solid rgba(190, 169, 106, 0.6);
  white-space: nowrap; /* Запрещаем перенос строк */
  overflow: hidden; /* Скрываем все, что не помещается в области видимости */
  text-overflow: ellipsis;
}

.list-group-item span {
  color: #9a7d16;
}

.btn-more {
  width: 100px;
  height: 30px;
  background: rgba(190, 169, 106, 0.9);
  border: 2px solid #ffffff;
  border-radius: 15px;
  margin: 8px;
  padding: 0;
  color: #fff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}

.btn-more:hover {
  background-color: gray;
  transition: 0.2s;
}

.card-skeleton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: auto;
  max-width: fit-content;
  min-width: 240px;
  height: auto;
  background: rgba(145, 141, 141, 0.2);
  border: 3px solid rgba(227, 226, 222, 0.6);
  border-radius: 20px;
  padding-top: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.card-skeleton:not(:nth-child(5n)) {
  margin-right: 30px;
}

.list-skeleton {
  margin-top: 10px;
  list-style: none;
  padding: 0;
  text-align: center; /* Центрирование по горизонтали */
  display: flex; /* Использование flex-контейнера */
  justify-content: center;
  flex-direction: column;
}

.item-skeleton {
  align-items: center;
  width: 200px;
  height: 40px;
}

/* Not Found  */

.not-found {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.not-found-text {
  color: #ff4c38;
  font-family: "Poppins-Bold";
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

/* _____________________________________________________________________________ */

/* Registration Style in Admin page */

.navbar {
  background-color: #bea96a !important;
  background-image: linear-gradient(to right, #bea96a, #f0e68c9d);
}

.logo-sejong {
  width: 80px;
  cursor: pointer;
}

.search-select {
  width: 100px;
  margin-top: 50px;
  border: 5px solid #f2f0e5;
  border-radius: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}

.filter-search {
  position: absolute;
  color: #9a7d16;
  background-color: #ffffffc0;
  border: 3px solid #bfa353;
  border-radius: 15px 0px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  margin-top: 8px;
  padding: 4px;
  left: 6px;
  top: -2px;
}

.filter-search span {
  color: #070707;
}

.refreshData {
  width: 24px;
  margin: 15px;
  margin-top: 65px;

  border: none;
  cursor: pointer;
}

#switch-button {
  transform: scale(1);
  cursor: pointer;
}
.form-check-label {
  font-size: 18px;
  color: #070707;
}

.form-check-input:checked {
  font-size: 18px;
  background-color: #00fa9a;

  border: #00fa9a;
}

.form-check-input {
  font-size: 18px;
  margin-top: 0.4em;
  background-color: #ff4c38;
  border: #ff4c38;
}
.form-switch {
  margin: 0;
}
.navbar {
  padding: 0;
  padding-top: 8px;
}
/* Настройка внешнего вида полосы прокрутки */
body::-webkit-scrollbar {
  width: 10px; /* Ширина полосы прокрутки */
  background-color: #888;
  border-radius: 6px; /* Уменьшите ширину thumb */
  height: 10px; /* Уменьшите высоту thumb */
}

body::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Цвет фона полосы прокрутки */
}

body::-webkit-scrollbar-thumb {
  background-color: #888; /* Цвет заполнения полосы прокрутки */
  border-radius: 6px; /* Скругление углов полосы прокрутки */
  width: 6px; /* Уменьшите ширину thumb */
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Цвет заполнения полосы прокрутки при наведении */
}
